<div class="main-container">
    <!-- Left Sidebar (Menu) -->
    <aside class="sidebar">
        <!-- Top Section -->
        <div class="sidebar-top">
            <div class="profile-section">
                <!-- Display current user profile picture -->
                <img src="{{ currentUserPhoto }}" alt="Profile" class="profile-image" (click)="toggleMenu()">
            </div>

            <!-- Pop-up menu -->
            <div class="profile-menu" *ngIf="isMenuVisible">
                <p>{{ currentUserName }}</p>
                <ul>
                    <li><a (click)="onClick()">Hồ sơ của bạn</a></li>
                    <li>
                        <a (click)="triggerFileInput('image')">Cập nhật hình đại diện</a>
                        <input type="file" #imageInput accept="image/*" id="avatarUpload"
                            (change)="handleAvatarUpdate($event)" hidden>
                    </li>
                    <li><a (click)="logOut()">Đăng xuất</a></li>
                </ul>
            </div>
            <div class="clickable" (click)="setActiveView('conversations')">
                <div class="img-container">
                    <img src="assets/chatbubble.png" alt="chat-icon">
                </div>
            </div>
            <div class="clickable" (click)="setActiveView('contacts')">
                <div class="img-container">
                    <img src="assets/contact-book.png" alt="chat-icon">
                </div>
            </div>
        </div>
    </aside>

    <!-- Middle Panel (Chat List) -->
    <section class="chat-list-panel">
        <div id="contact-search-grid" class="grid-setting" style="grid-template-columns: auto 32px 32px;">
            <div class="group-search-item">
                <img src="assets/search.png" alt="search-icon" class="search-container click">
                <input type="text" placeholder="Tìm số điện thoại hoặc tên" class="search-bar-input"
                    [(ngModel)]="searchInput" (keyup.enter)="onSearch()" minlength="1" pattern="\d*"
                    [matAutocomplete]="users">
                <mat-autocomplete #users="matAutocomplete" (optionSelected)="onUserSelected($event.option.value)">
                    <mat-option *ngFor="let user of searchResults" [value]="user">
                        {{ user.participantName }}
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>

        <!-- Display conversation list -->
        <div *ngIf="activeView === 'conversations'">
            <mat-tab-group animationDuration="0ms" class="tabs">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="custom-tab-label" (click)="resetView()">Tất cả</span>
                    </ng-template>
                    <ul class="chat-list">
                        <li *ngFor="let conversation of conversationsList" class="chat-item"
                            (click)="selectConversation(conversation)">
                            <div class="chat-info">
                                <!-- Dynamically display participant names and avatar for each conversation -->
                                <img [src]="getParticipantNames(conversation).photo" alt="User Avatar"
                                    class="header-avatar">
                                <div>
                                    <!-- Dynamically display participant names for each conversation -->
                                    <p class="chat-name">
                                        {{ getParticipantNames(conversation).names }}
                                    </p>
                                    <!-- Placeholder for last message -->
                                    <p class="last-message">
                                        Bạn: {{ conversation.lastMessage?.content || '...' }}
                                    </p>
                                </div>
                            </div>
                            <!-- Display formatted last message time -->
                            <span class="chat-time">
                                {{ conversation.lastMessageTime | date: 'dd/MM' }}
                            </span>
                        </li>
                    </ul>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="custom-tab-label">Tạo nhóm</span>
                    </ng-template>

                    <div class="create-group">
                        <h4>Chọn thành viên nhóm</h4>

                        <!-- Display the list of contacts -->
                        <ul class="contact-list">
                            <div *ngFor="let contact of contacts" class="contact-item">
                                <!-- Checkbox for selecting the contact -->
                                <input type="checkbox" [checked]="isMemberSelected(contact)"
                                    (change)="toggleMemberSelection(contact)" class="contact-checkbox" />

                                <!-- Contact details -->
                                <span>{{ contact.participantName }}</span>
                            </div>
                        </ul>

                        <!-- Display selected members -->
                        <div class="selected-members">
                            <h4>Thành viên đã chọn:</h4>
                            <ul>
                                <li *ngFor="let member of selectedMembers" class="selected-member">
                                    {{ member.participantName }}
                                </li>
                            </ul>
                        </div>

                        <!-- Create Group Button -->
                        <div class="button-create">
                            <button (click)="createGroup()" class="create-group-btn"
                                [disabled]="selectedMembers.length === 0">
                                Tạo nhóm
                            </button>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>

        <div *ngIf="activeView === 'contacts'">
            <ul class="chat-list">
                <li *ngFor="let content of contactBox" class="chat-item" (click)="setActiveContent(content)">
                    <div class="chat-info">
                        <!-- Dynamically set the image based on the content type -->
                        <img [src]="content === 'Danh sách bạn bè' ? defaultFriendsListImage : defaultGroupsListImage"
                            alt="User Avatar" class="header-avatar">
                        <div>
                            <p class="chat-name">{{ content }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Right Panel (Main Content) -->
    <main class="content">
        <!-- Default Message When No Conversation is Selected -->
        <div *ngIf="!selectedUser && activeView === 'conversations'" class="welcome-page">
            <img src="assets/Logo_Zalo.png" alt="Welcome Image" class="welcome-image">
            <h2>Chào mừng đến với Zalo PC!</h2>
            <p>Khám phá những tiện ích hỗ trợ làm việc và trò chuyện cùng<br>
                người thân, bạn bè được tối ưu hóa cho máy tính của bạn.</p>
        </div>

        <!-- Conversation Box When a User is Selected -->
        <div *ngIf="selectedUser && activeView === 'conversations'">
            <!-- Header part -->
            <div class="conversation-header">
                <div class="conversation-header-left">
                    <!-- <img src="assets/letter-z.png" alt="User Avatar" class="header-avatar">
                    <span class="header-username">{{ selectedUser.userName }}</span> -->
                    <!-- Dynamically set the user's avatar -->
                    <img [src]="selectedUser.photo" alt="User Avatar" class="header-avatar">
                    <span class="header-username">{{ selectedUser.userName }}</span>
                </div>
                <div class="conversation-header-right">
                    <button class="header-btn" title="Thêm thành viên" (click)="openContactDialog()">
                        <img src="assets/people (1).png" alt="Add Members">
                    </button>
                    <button class="header-btn" title="Xóa thành viên" (click)="openRemoveMemberDialog()">
                        <img src="assets/people (2).png" alt="Remove Main">
                    </button>
                    <button class="header-btn" title="Xóa hội thoại" (click)="deleteConversation()">
                        <img src="assets/delete_conv.png" alt="Delete Conversation">
                    </button>
                </div>

                <!-- Remove Member Confirmation Dialog -->
                <mat-dialog-content *ngIf="removeConversationDialogOpen">
                    <h3>Bạn có chắc chắn muốn xóa cuộc trò chuyện này?</h3>
                    <div class="button-container">
                        <button mat-button (click)="confirmRemove()">Xác nhận</button>
                        <button mat-button (click)="cancelRemove()">Hủy bỏ</button>
                    </div>
                </mat-dialog-content>
            </div>

            <!-- Chatting part -->
            <div class="chatting-part" #chatContainer>
                <div *ngIf="selectedUser">
                    <div *ngFor="let message of getConversationMessages()"
                        [ngClass]="{'message': true, 'you': message.sender === currentUserId, 'sender': message.sender !== currentUserId}">

                        <!-- Show sender's name if it's a group chat -->
                        <div class="message-sender">
                            {{ message.senderName }}
                        </div>

                        <!-- Check if the content is an image -->
                        <ng-container *ngIf="isImage(message.content); else notImage">
                            <img [src]="getImageSrc(message.content)" alt="Image Message" class="message-image">
                        </ng-container>

                        <!-- Fallback for non-image content -->
                        <ng-template #notImage>
                            <!-- Check if the content is a video -->
                            <ng-container *ngIf="isVideo(message.content); else textContent">
                                <video [src]="getVideoSrc(message.content)" controls class="message-video"></video>
                            </ng-container>

                            <!-- Fallback for text or unsupported content -->
                            <ng-template #textContent>
                                <ng-container *ngIf="isValidUrl(message.content); else plainText">
                                    <a [href]="message.content" target="_blank" rel="noopener noreferrer"
                                        class="message-link">
                                        {{ message.content }}
                                    </a>
                                </ng-container>

                                <ng-template #plainText>
                                    <div class="message-content">{{ message.content }}</div>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>
            </div>

            <!-- Chat Input Features -->
            <div class="features-part">
                <!-- Image Upload -->
                <button class="feature-btn" title="Gửi hình ảnh" (click)="triggerFileInput('image')">
                    <img src="assets/image.png" alt="Send Image">
                </button>
                <input type="file" #imageInput accept="image/*" (change)="handleFileInput($event, 'image')" hidden>

                <!-- Video Upload -->
                <button class="feature-btn" title="Gửi video" (click)="triggerFileInput('video')">
                    <img src="assets/video.png" alt="Send Video">
                </button>
                <input type="file" #videoInput accept=".mkv,.gif,.gifv,.mov,.qt,.wmv,.mp4,.m4v"
                    (change)="handleFileInput($event, 'video')" hidden>

                <!-- Document Upload -->
                <button class="feature-btn" title="Gửi các tệp đính kèm" (click)="triggerFileInput('document')">
                    <img src="assets/attach.png" alt="Send File">
                </button>
                <input type="file" #documentInput accept=".pdf,.doc,.docx,.txt,.xls,.xlsx,.zip,.rar"
                    (change)="handleFileInput($event, 'document')" hidden>
            </div>

            <!-- Typing Input -->
            <div class="typing-part">
                <input type="text" placeholder="Nhập tin nhắn ở đây..." class="message-input" [(ngModel)]="messageText"
                    (keyup)="$event.keyCode === 13 && sendMessage()">
                <button class="icon-btn">
                    <img src="assets/smile.png" alt="Select Icon">
                </button>
                <button class="like-btn">
                    <img src="assets/like.png" alt="Like">
                </button>
            </div>
        </div>

        <div *ngIf="activeView === 'contacts'" class="content-contacts">
            <div *ngIf="selectedContent === 'Danh sách bạn bè'">
                <!-- Custom HTML for 'Danh sách bạn bè' (Friends List) -->
                <p class="friends-list-header">Danh sách bạn bè</p>

                <!-- Loop through filteredContacts to display the contact name and profile photo -->
                <ul class="contacts-list">
                    <li *ngFor="let contact of filteredContacts" class="contact-item">
                        <div class="contact-info">
                            <img [src]="contact.profilePhoto" alt="{{ contact.name }}'s Profile" class="contact-avatar">
                            <span class="contact-name">{{ contact.name }}</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div *ngIf="selectedContent === 'Danh sách nhóm'">
                <!-- Custom HTML for 'Groups' -->
                <p class="friends-list-header">Danh sách nhóm</p>
                <!-- Loop through filteredGroups to display the group name and profile photo -->
                <ul class="contacts-list">
                    <li *ngFor="let group of filteredGroups" class="contact-item">
                        <div class="contact-info">
                            <img [src]="group.groupProfileImage" alt="{{ group.groupName }}'s Profile"
                                class="contact-avatar">
                            <span class="contact-name">{{ group.groupNames }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- User Profile Edit Section -->
        <div *ngIf="activeView === 'edit-profile' && showProfileEdit" class="profile-edit-section">
            <h2>Chỉnh sửa hồ sơ của bạn</h2>
            <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
                <div class="form-group">
                    <label for="name" class="edit-name">Tên</label>
                    <input type="text" id="name" [(ngModel)]="currentUserName" name="name" required
                        class="form-control">
                </div>

                <div class="form-group">
                    <label for="phone" class="edit-name">Số điện thoại</label>
                    <input type="text" id="phone" [(ngModel)]="currentUserPhone" name="phone" class="form-control">
                </div>

                <div class="form-group">
                    <label for="email" class="edit-name">Địa chỉ email</label>
                    <input type="email" id="email" [(ngModel)]="currentUserEmail" name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="birthdate" class="edit-name">Ngày tháng năm sinh</label>
                    <input type="date" id="birthdate" [(ngModel)]="currentUserBirthdate" name="birthdate"
                        class="form-control">
                </div>

                <div class="form-group">
                    <label for="avatar" class="edit-name">Ảnh đại diện</label>
                    <input type="file" id="avatar" (change)="handleAvatarUpdate($event)" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Hủy bỏ</button>
            </form>
        </div>
    </main>
</div>