<div class="login-container">
    <img src="assets/Logo_Zalo.png" alt="Zalo-top-logo" class="login-image">

    <div class="login-card">
        <h2>Đăng nhập tài khoản Zalo OTT <br>
            để kết nối với ứng dụng Zalo Web OTT
        </h2>
        <br><br>

        <form #loginForm="ngForm" (ngSubmit)="onLogin()" novalidate>
            <label for="phone">Số điện thoại</label>
            <input type="phone" id="phone" placeholder="nhập số điện thoại của bạn" required
                [(ngModel)]="loginObj.phoneNumber" name="phone" />

            <label for="password">Mật khẩu</label>
            <input type="password" id="password" placeholder="nhập mật khẩu của bạn" required
                [(ngModel)]="loginObj.password" name="password" />

            <button type="submit" [disabled]="loginForm.invalid">
                Đăng nhập với mật khẩu
            </button>
        </form>
        <div class="footer">
            <p>Bạn chưa có tài khoản? <a [routerLink]="['/sign-up']">Đăng ký ngay</a></p>
        </div>
    </div>
</div>