<div class="verification-dialog">
    <h2 class="dialog-title">Vui lòng xác thực</h2>
    <p class="dialog-description">Hãy kiểm tra email của bạn và điền mã xác thực vào ô bên dưới:</p>
    <input type="text" placeholder="Enter code" [(ngModel)]="verificationCode" class="verification-input"
        maxlength="6" />
    <div class="dialog-actions">
        <button (click)="verifyCode()" class="submit-btn">Xác nhận</button>
        <button (click)="closeDialog()" class="cancel-btn">Hủy</button>
    </div>
</div>