<div class="sign-up-container">
    <img src="assets/Logo_Zalo.png" alt="Zalo-top-logo" class="sign-up-image">

    <div class="sign-up-card">
        <h2>Tạo tài khoản Zalo Web OTT</h2>
        <p>Xin vui lòng cung cấp các thông tin sau:</p>
        <form #signupForm="ngForm">
            <label for="tel">Số điện thoại</label>
            <input type="tel" id="tel" placeholder="Nhập số điện thoại của bạn (10 số)"
                [(ngModel)]="signupObj.phoneNumber" name="phone" required pattern="^[0-9]{10}$"
                title="Vui lòng nhập số điện thoại hợp lệ (10 chữ số hoặc bao gồm mã quốc gia)" />

            <label for="Email">Email</label>
            <input type="email" id="email" placeholder="Nhập địa chỉ email của bạn (abc@xyz.com)"
                [(ngModel)]="signupObj.email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />

            <label for="name">Tên đại diện</label>
            <input type="name" id="name" placeholder="Nhập tên đại diện của bạn" [(ngModel)]="signupObj.name"
                name="name" required />

            <label for="password">Mật khẩu</label>
            <input type="password" id="password" placeholder="Nhập mật khẩu của bạn" [(ngModel)]="signupObj.password"
                name="password" required />

            <label for="password">Nhập lại mật khẩu</label>
            <input type="password" id="password_2" placeholder="Nhập lại mật khẩu của bạn"
                [(ngModel)]="signupObj.password_2" name="password_2" required />

            <button type="submit" (click)="onSignUp(signupForm)">Đăng ký tài khoản Zalo Web</button>
        </form>
    </div>
</div>