/* You can add global styles to this file, and also import other style files */
/* Example custom styles */
@import 'ngx-toastr/toastr';


/*reset the default css: margin: 8px*/
body {
    margin: 0;

    .mat-mdc-tab-header {
        --mdc-secondary-navigation-tab-container-height: 25px;

    }

    .mdc-tab {
        padding: 0 0;
    }

    .mdc-tab-indicator__content--underline {
        width: 65%;
    }

    .mat-mdc-tab-label-container {
        flex-grow: 0;
    }
}

.toast-success {
    background-color: #28a745;
    /* green */
}

.toast-error {
    background-color: #dc3545;
    /* red */
}